@media screen and (max-width: 768px) {
    h2.sec_ttl strong {
        font-size: 55px;
    }
}


#greeting {
    padding-top: 10rem;
    padding-bottom: 30rem;
    @media screen and (max-width: 768px) {
        padding-top: 60px;
    }
    .container {
        position: relative;
        z-index: 10;
    }
    .ttl_wrap {
        text-align: right;
        h2.sec_ttl {
            @media screen and (max-width: 768px) {
                strong {
                    font-size: 55px;
                }
                
            }
            div {
                right: auto;
                left: -50px;
                @media screen and (max-width: 768px) {
                    left: 0;
                    bottom: -200%;
                }
            }
        }
    }
    .greeting_img {
        img {
            width: 100%;
        }
    }
    .greeting_sp {
        width: 100%;
        margin-left: auto;
        margin-top: 30px;
        
        img {
            width: 80%;
            margin-left: 20%;
        }
    }
 }
 #company {
    h2.sec_ttl {
        div {
            right: -50px;
            left: auto;
            @media screen and (max-width: 768px) {
                left: 0;
                right: auto;
            }
        }
    }
    .company_wrap {
        width: 95%;
        margin-left: auto;
        margin-top: 4rem;
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-top: 30px;
        }
        h3.sm_ttl {
            font-size: clamp(32px,4rem,48px);
            letter-spacing:0.1em;
            color: #004272;
            span {
               font-size: clamp(14px,1.5rem,16px);
               color: #000;
               display: inline-block;
               padding-left: 20px; 
            }
        }
        dl {
            justify-content: flex-start;
            font-size: clamp(14px,1.5rem,16px);
            letter-spacing: 0.1em;
            box-sizing: border-box;
            padding: 2.5rem 3.4rem;
            @media screen and (max-width: 768px) {
                font-size: 12px;
            }
            &:nth-of-type(odd) {
                background-color: #E5EBF0;
            }
            dt {
                width: 20%;
                @media screen and (max-width: 768px) {
                    width: 30%;
                }
            }
            dd {
                width: 80%;
                @media screen and (max-width: 768px) {
                    width: 70%;
                }
            }
        }
        .access {
            margin-top: 8rem;
            margin-bottom: 8rem;
            @media screen and (max-width: 768px) {
                margin-top: 40px;
                margin-bottom: 40px;
            }
            iframe {
                width: 100%;
                height: 346px;
            }
        }
        .sns {
            padding-bottom: 30rem;
            .flex {
                justify-content: flex-start;
                @media screen and (max-width: 768px) {
                    justify-content: center;
                }
                img.qr {
                    margin-right: 20px;
                    width: 111px;
                }
            }
        }
    }
 }
@media screen and (max-width: 768px) {
    .sec_content {
        strong {
            font-size: 16px;
            text-align: right;
            display: block;
            small {
                font-size: 13px;
            }
        }
        b {
            margin: 20px 0 15px 0;
            font-size: 22px;
        }
    }
    #company .container {
        width: 82.4%;
    }
}
 #recruit {
    position: relative;
    padding-bottom: 40rem;
    &::before {
        content: "";
        position: absolute;
        bottom: 100%;
        height: 0;
        width: 0;
        border-top: 0px solid #EFEFEF;
        border-bottom: 300px solid #EFEFEF;
        border-right: 100vw solid transparent;
        @media screen and (max-width: 768px) {
            border-top: 0px solid #EFEFEF;
            border-bottom: 120px solid #EFEFEF;
        }
    }
    img.recruit_text {
        position: absolute;
        top: -38%;
        left: 10%;
        width: 35%;
        @media screen and (max-width: 768px) {
            width: 70%;
            right: 10%;
            top: -13%;
        }
    }
    .container {
        position: relative;
        @media screen and (max-width: 768px) {
            padding-top: 80px;
        }
        h3 {
            color: #004272;
            writing-mode: vertical-rl;
            font-size: 18px;
            position: absolute;
            left: -40px;
            top: 10px;
            @media screen and (max-width: 768px) {
                left: 0;
                top: 5.5%;
            }
            span::before {
                width: 1px;
                height: 100%;
                background: #004272;
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                display: block;
            }
        }
        p {
            b {
                font-size: clamp(22px,2.4rem,26px);
                display: block;
                @media screen and (max-width: 768px) {
                    margin-bottom: 10px;
                }
            }
            font-size: 14px;
            line-height: 2;
            margin-bottom: 6rem;
            @media screen and (max-width: 768px) {
                width: 80%;
                margin-left: auto;
            }
        }
        dl {
            justify-content: flex-start;
            font-size: clamp(14px,1.5rem,16px);
            letter-spacing: 0.1em;
            box-sizing: border-box;
            padding: 2.5rem 3.4rem;
            @media screen and (max-width: 768px) {
                font-size: 12px;
                padding: 20px 20px;
            }
            &:nth-of-type(odd) {
                background-color: #fff;
            }
            dt {
                width: 20%;
                @media screen and (max-width: 768px) {
                    width: 30%
                }
            }
            dd {
                width: 80%;
                @media screen and (max-width: 768px) {
                    width: 70%;
                }
            }
        }
        a.common_btn {
            margin-left: auto;
            margin-right: auto;
            margin-top: 6rem;
            display: block;
            @media screen and (max-width: 768px) {
                position: relative;
                z-index: 10;
                margin-top: 60px;
            }
        }
    }
 }